.container {
    display: flex;
    justify-content: center;
    align-items: center;

    h1, h3 {
        text-align: center;
    }
}
.amenities {
    display: flex;
    flex-direction: row;
    p {
        padding: 5px;
        text-align: center;
    }
}