.container {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }

  div {
    width: 300px;
  }

  input {
    margin: 5px 0px;
    width: 100%;
  }

  button {
    margin: 0px 5px;
    width: 45%;
  }
}
