.container{
    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
        margin-bottom: 4vw ;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 700px) {
    
}