.titleDesk {
  vertical-align: top;
  margin: 0;
}

.container {
  background-color: antiquewhite;
  position: sticky;
  top: 0;
  z-index: 99;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin-bottom: 4vw;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
}

.mobileNav {
  display: none;
}

@media (max-width: 600px) {
  .desktopNav {
    display: none;
  }

  .mobileNav {
    display: flex;
    align-items: center;
    align-items: flex-end;
    position: sticky;
  }

  .close {
    position: fixed;
    top: 0.8%;
    left: 1.5%;
    z-index: 999;
    border: none;
    background: transparent;
    font-size: 25px;
    font-weight: bold;
  }
  .container {
    ul {
      margin: 0;
      background-color: rgb(209, 122, 34, 1);
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1vh;
      width: 102%;
      height: 50%;
      position: fixed;
      top: 49%;
      left: 50%;
      transform: translate(-50%, -100%);
    }
  }
}


