* {
  box-sizing: border-box;
}

html, body {
    background: antiquewhite;
    
}

button, a {
    text-decoration: none;
    color: black;
}

.error {
    color: red;
}

//global mapbox styles

#map-container {
  height: 200px;
  width: 100%;
  background-color: lightgray;
}
