* {
  box-sizing: border-box;
}

// html, body {
//     blah blah: ;
// }

// button, a {
//     blah blah: ;
// }

// .error {
//     color: red;
// }

// form {
//     blah blah: ;
// }

//global mapbox styles

#map-container {
  height: 200px;
  width: 100%;
  background-color: lightgray;
}
