.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 50px;
  }

  h2,
  h3 {
    font-size: 30px;
    margin-bottom: 5px;
  }

  img {
    height: 100px;
    width: 100px;
    margin: 5px;
  }

  p {
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
  }

  h2 {
    margin-top: 5%;
  }

  a {
    margin-bottom: 0px;
  }
  
  .name {
    margin-top: -5px;
  }
  
  img {
    margin-top: 40%;
  }
}
